USE [master]
GO
/****** Object:  Database [creditos]    Script Date: 05/10/2019 01:30:33 p. m. ******/
CREATE DATABASE [creditos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'creditos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\creditos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'creditos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\creditos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [creditos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [creditos]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 05/10/2019 01:30:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](50) NOT NULL,
	[apellido] [nchar](50) NOT NULL,
	[telefono] [nchar](10) NULL,
	[direccion] [nchar](100) NULL,
	[correo] [nchar](100) NULL,
	[edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos]    Script Date: 05/10/2019 01:30:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[monto] [float] NULL,
	[plazo] [int] NULL,
	[monto_a_pagar] [float] NULL,
	[interes] [int] NULL,
	[monto_cuota] [float] NULL,
	[idcliente] [int] NULL,
 CONSTRAINT [PK_creditos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuotas]    Script Date: 05/10/2019 01:30:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idcredito] [int] NULL,
	[fecha] [date] NULL,
	[monto] [float] NULL,
 CONSTRAINT [PK_cuotas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [FK_creditos_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [FK_creditos_cliente]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [FK_cuotas_creditos] FOREIGN KEY([idcredito])
REFERENCES [dbo].[creditos] ([id])
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [FK_cuotas_creditos]
GO
USE [master]
GO
